{{define "rule/edit.tmpl"}}

<div class="modal fade" id="edit-modal" tabindex="-1" role="dialog" aria-labelledby="edit-modalLabel" aria-hidden="true">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                 <h4 class="modal-title" id="edit-modalLabel">
                    编辑账号组
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                &times;
                </button>
            </div>
            
            <!--模块内容 -->
            <div class="modal-body" style="height: 100%;">
                <form id="edit-form" class="form-horizontal form-ajax" role="form" data-toggle="validator">

                    <div class="form-group">
                    <label for="pId" class="col-sm-3 control-label">Id</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control"  readonly  name="id" id="edit-id"
                               placeholder="请输入id">
                        </input>
                    </div>
                    </div>

                    <div class="form-group">
                    <label for="pId" class="col-sm-3 control-label">父节点</label>
                    <div class="col-sm-7">
                        <select class="selectpicker"  data-live-search="true" name="pId" id="edit-pId">
                            <option value=1>主菜单</option> 
                            {{ range $c := . }}
                                <option value={{$c.Id}}>{{$c.Name}}</option>
                            {{end}}   
                        </select>
                    </div>
                    </div>

                    <div class="form-group">
                    <label for="name" class="col-sm-3 control-label">名称</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control"  name="name" id="edit-name"
                               placeholder="请输入名称">
                    </div>
                    </div>

                    <div class="form-group">
                    <label for="controller" class="col-sm-3 control-label">规则</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control"  name="controller" id="edit-controller"
                               placeholder="请输入规则">
                    </div>
                    </div>

                    <div class="form-group">
                    <label for="weight" class="col-sm-3 control-label">权重</label>
                    <div class="col-sm-7">
                        <input type="number" class="form-control"  name="weight" id="edit-weight"
                               placeholder="请输入权重">
                    </div>
                    </div>

                    <div class="form-group">
                    <label for="icon" class="col-sm-3 control-label">图标</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control"  name="icon" id="edit-icon"
                               placeholder="请输入标题">
                    </div>
                    </div>

                    <div class="form-group">
                    <label for="ismenu" class="col-sm-3 control-label">是否菜单</label>
                    <div class="col-sm-7">
                        <select class="selectpicker"  data-live-search="true" name="ismenu" id="edit-ismenu">
                            <option value="true">是</option>
                            <option value="false">否</option>
                        </select>                    
                    </div>
                    </div>


                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary" id="edit-submit">提交</button>
                    </div>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
{{end}}
