{{define "auth/add.tmpl"}}

<div class="modal fade" id="add-modal" tabindex="-1" role="dialog" aria-labelledby="add-modalLabel" aria-hidden="true">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                 <h4 class="modal-title" id="add-modalLabel">
                    新增样板
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                &times;
                </button>
            </div>
            
            <!--模块内容 -->
            <div class="modal-body" style="height: 100%;">
                <form id="add-form" class="form-horizontal form-ajax" role="form" data-toggle="validator"
                method="POST" onsubmit="return false;">
    

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="submit" class="btn btn-primary" id="add-submit">提交</button>
                    </div>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
{{end}}

