{{define "header"}}
	<!DOCTYPE html>
    <html lang="zh-CN">
	<head>
	<title>epogt admin</title>
	<!-- 这个是自适应各种分辨率的屏幕 -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	 
	<meta http-equiv="pragma" content="no-cache">
	<meta http-equiv="cache-control" content="no-cache">
	<meta http-equiv="expires" content="0">
	<meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
	<meta http-equiv="description" content="epogt admin">

	<link rel="stylesheet" href="/node_modules/bootstrap-table/dist/bootstrap-table.min.css">
	<link rel="stylesheet" href="/node_modules/bootstrap-treeview/dist/bootstrap-treeview.min.css">
	<link rel="stylesheet" href="/node_modules/toastr/build/toastr.css">
    <link rel="stylesheet" href="/node_modules/@fortawesome/fontawesome-free/css/all.min.css">
	<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="/node_modules/admin-lte/dist/css/adminlte.min.css">
	<link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="/node_modules/bootstrap-select/dist/css/bootstrap-select.min.css">

 

	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script> 
	<script src="/node_modules/popper.js/dist/umd/popper.js"></script>
	<script src="/node_modules/jquery/dist/jquery.min.js"></script>
	<script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="/node_modules/toastr/toastr.js"></script>
	<script src="/node_modules/jquery.cookie/jquery.cookie.js"></script>
	<script src="/node_modules/bootstrap-table/dist/bootstrap-table.js"></script>
	<script src="/node_modules/bootstrap-table/dist/locale/bootstrap-table-zh-CN.js"></script>
	<script src="/node_modules/layer/layer.min.js"></script>
	<script src="/node_modules/bootstrap-treeview/dist/bootstrap-treeview.min.js"></script>
	<script src="/node_modules/admin-lte/dist/js/adminlte.min.js"></script>
	<script src="/node_modules/chart.js/dist/Chart.min.js"></script>
	<script src="/node_modules/nice-validator/dist/jquery.validator.min.js?local=zh-CN"></script>
	<script src="/node_modules/bootstrap-select/dist/js/bootstrap-select.min.js"></script>


   
	<!-- epogt js -->
	<script src="/static/js/require-util.js" type="text/javascript"></script>
	<script src="/static/js/require-store.js" type="text/javascript"></script>
	<script src="/static/js/require-table.js" type="text/javascript"></script>
	<script src="/static/js/require-form.js" type="text/javascript"></script>
	<script src="/static/js/require-menu.js" type="text/javascript"></script>
	<script src="/static/js/require-auth.js" type="text/javascript"></script>



	</head>
	

{{end}}
